* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full-page {
  background: white;
  height: auto !important;
}
.all-header {
  display: flex;
  flex-direction: column;
}
.top-header {
  width: auto;
  height: auto;
  background: black;
  margin-bottom: 10px;
}
.icon-top-header {
  margin-right: 10px;
  background: white;
  width: auto;
  height: 29px;
  float: right;
}
.center-header {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}

.menu {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
}
ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}
.ol-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
  box-shadow: 0px 10px 6px -6px #999999;
}

.menu-item {
  padding: 1em 0.5em;
  position: relative;
  margin: 0 1.1em;
  border-bottom: 5px solid rgb(255, 255, 255);
  transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
}
.active-tintuc {
  border-bottom-color: #91d36b;
}
.menu-item:hover,
.menu-item:focus-within {
  border-bottom-color: #91d36b;
  /* background: #333; */
}
.menu-item:hover .sub-menu,
.menu-item:hover .sub-menu:hover,
.menu-item:focus-within .sub-menu,
.menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  margin-top: 20px;
  background: white;
  z-index: 20;
}

.sub-menu {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1em;
  visibility: hidden;
  display: none;
  opacity: 0;
}
.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.menu a {
  font-size: 15px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.menu a:focus {
  outline: none;
}
/* ==================================================================================================== */
.home {
  margin-top: 20px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.home-top {
  display: flex;
  padding-bottom: 20px;
}
.home-right {
  margin-right: 10px;
  position: relative;
  height: auto;
  width: 50%;
  overflow: hidden;
}
.home-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}
.home-left-top {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}
.title-game p {
  width: 73%;
  font-size: 30px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.title-game {
  background-color: rgb(0 0 0 / 14%);
  padding-left: 20px;
  width: 100%;
  height: 60%;
  z-index: 10;
  position: absolute;
  bottom: 0%;
  pointer-events: none;
}
.game img {
  height: 24.5rem;
}
.congnghe img {
  width: 100%;
}
.congnghe img {
  transform: scale(100%);
  transition: 0.5s;
  /* transition-duration: 0.3s; */
}
.congnghe img:hover {
  transform: scale(120%);
}
.home-left-bottom {
  padding-top: 10px;
  display: flex;
  overflow: hidden;
}
.home-left-bottom-right {
  margin-right: 10px;
  position: relative;
  width: 50%;
  height: auto;
  overflow: hidden;
}
.home-left-bottom-left {
  width: 48%;
  position: relative;
  height: auto;
  overflow: hidden;
}
.title-left-bottom,
.title-right-bottom {
  background-color: rgb(0 0 0 / 14%);
  padding-left: 20px;
  height: 50%;
  width: 100%;
  z-index: 0;
  position: absolute;
  bottom: 0%;
  pointer-events: none;
}
.title-left-bottom p,
.title-right-bottom p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.title-tintuc p {
  width: 73%;
  font-size: 30px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.congnghe {
  position: relative;
  z-index: 0;
}
.title-tintuc {
  background-color: rgb(0 0 0 / 14%);
  padding-left: 20px;
  width: 100%;
  height: 56%;
  z-index: 0;
  position: absolute;
  bottom: 0%;
  pointer-events: none;
}
.left-bottom img {
  height: 13.8rem;
}
.home-center-tintuc {
  display: flex;
  width: 100%;
  padding-top: 3rem;
}
.center-right {
  display: flex;
  flex-direction: column;
}
.home-center-left {
  padding-right: 20px;
  width: 100%;
}
.home-center-right {
  width: 35%;
}
.center-left {
  display: flex;
  padding-top: 20px;
}
.right-txt {
  /* display: flex;
  flex-direction: column; */
  padding-left: 20px;
}

.left-left {
  width: 47%;
}
.left-left img {
  width: 90%;
}
.left-txt {
  width: 90%;
}
.left-txt p {
  padding-top: 10px;
}
.left-contend {
  display: flex;
  padding: 0 20px 20px 20px;
}
.title-right-tintuc {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 8px;
}
.ttcn {
  text-align: center;
  /* width: auto; */
  padding: 4px;
  font-weight: bold;
  background: black;
  color: white;
}
.dateUp {
  padding-top: 5px;
  color: #a5a5a5;
}
.title-congnghe {
  font-size: 22px;
  font-weight: 500;
}
.article-summary {
  font-size: 15px;
  color: rgb(136, 136, 136);
}
.title-post {
  padding-bottom: 1px;
  border-bottom: 3px solid;
  border-bottom-color: rgb(9, 9, 230);
}
.title-post p {
  text-align: center;
  color: white;
  font-weight: 400;
  padding: 5px;
  width: 15%;
  background: rgb(9, 9, 230);
}
.second {
  padding-top: 80px;
}
.title-post-right span {
  text-align: center;
  color: white;
  font-weight: 400;
  padding: 5px;
  width: 30%;
  background: rgb(6, 6, 245);
}
.title-post-right {
  padding-bottom: 6px;
  padding-top: 30px;
  border-bottom: 3px solid;
  border-bottom-color: rgb(9, 9, 230);
}
.right-top,
.right-txt-care {
  width: 100%;
}
.right-txt-care p {
  padding-top: 15px;
}
.review-product {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title-post-rv {
  padding-top: 70px;
  padding-bottom: 1px;
  border-bottom: 3px solid;
  border-bottom-color: rgb(9, 9, 230);
  margin-bottom: 20px;
}
.title-post-rv p {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  width: 15%;
  background: rgb(9, 9, 230);
}
.video-review {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.video-review iframe {
  padding: 10px;
}
.old-post {
  width: 100%;
}
.posts-info {
  display: flex;
  padding-bottom: 20px;
}
.posts-info img {
  width: 20%;
}
.post-old-txt {
  padding-left: 20px;
}
.post-old-txt p {
  padding: 5px;
}
.txt-center {
  display: flex;
}
.title-post-old {
  font-size: 25px;
  font-weight: 500;
}
.footer-tintuc {
  padding-top: 30px;
  background: #111111;
  color: white;
}
#footer {
  margin: 0 auto;
  width: 80%;
  padding: 20px 0 50px 0;
}
.ft-top-expost,
.ft-top-plpost,
.ft-top-xemnhieu {
  padding-right: 40px;
}
.ft-top-expost {
  width: 40%;
}
.ft-top-plpost {
  width: 40%;
}
.ft-top {
  display: flex;
  border-bottom: 1px solid rgb(68, 68, 68);
  padding-bottom: 40px;
}
.title-expost {
  padding-bottom: 30px;
}
.title-expost P {
  font-size: 18px;
  font-weight: bold;
}
.item-post-ft {
  display: flex;
  padding: 20px 0;
}
.ct {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.ab-us-txt p {
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
}
.ab-us-txt span {
  color: rgb(63, 5, 223);
}
.ft-bottom {
  padding-top: 30px;
  display: flex;
}
.item-fl {
  width: auto;
  height: 30px;
  padding-right: 10px;
}
.icon-top-header,
.item-fl:hover {
  cursor: pointer;
}
.logo-ft {
  width: 35%;
}
.logo-ft img {
  padding-top: 5%;
}
.about-us {
  width: 40%;
}
.txt-xemnhieu p {
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}
.txt-xemnhieu p:hover {
  color: blue;
  cursor: pointer;
}
.hover-p:hover {
  color: blue;
  cursor: pointer;
}
